@media screen and (min-width: 1200px ) {
   
    .container {
        max-width: 1158px;
        padding: 0 15px;

    }
    .header-mobile {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .hero-title {
        font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--first-title-color);
    max-width: 696px;
    margin: 0 auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    
    }
    .text {
        
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


}
.about {
    padding-top: 96px;
    

   
}
    
    
    
    .hero {
        background-color: #2E2F42;
        padding-top: 188px;
        max-width: 1440px;
        padding-bottom: 188px;
        background-image:var(--bg-gradient), 
        url(../img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        
    }
    .footer-container {
        display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
    .mobile {
        padding-bottom: 120px;
        display: block;
    }
    .logo {
    text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
}
.logo-end {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
}
.logo-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}

   

    .feature-link {
        display: flex;
      justify-content: center;
      align-items: center;
      height: 112px;
      background-color: #f4f4fd;
      border-radius: 4px;

      }
      .media-footer {
        /* margin-left: 120px;
         */
    }
    .input-footer{
        align-items: center;
        display: flex;
    }
.modal-footer {
    width: 264px; 
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: transparent;
outline: transparent;
margin-left: 80px;
margin-bottom: 130px;
padding: 10px; 
}
.online-btn {
    width: 165px;
    height: 40px;
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms linear, color 250ms linear;
    margin-left: 24px;
    margin-bottom: 130px;
}
       
        
    .footer-text {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: block;
    margin-left: 80px;
    margin-bottom: 16px;
    }
    .end {

        padding-top: 100px;
        padding-bottom: 100px;
        
    } 
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
    height: 576px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleX(1) ;
    transition: transform 250ms linear;
    padding: 72px 24px 24px 24px;
    }
    .modal-input {
        width: 360px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    }
    .modal-comment {
        width: 360px;
    height: 120px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin-bottom: 8px;
    padding: 10px;
    resize: none;
    
    }
    .header-item {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

    }
      .footer-text {
       
      }
      .logo-wrap {
        display: block;
      margin: 0px, 40px, 0px, 0px;
      }
      .media-footer {
        /* margin-left: 40px; */
      }
      .media-title {
        text-align: left;
      }
      .input-footer {
        display: flex;
      flex-wrap: nowrap;
      gap: 24px;
      }
      .modal-footer {
        width: 264px;
      }
      .end-text {
        font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    }
    
      
      
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:var(--bg-gradient), 
        url(../img/hero-bg-2x.jpg);
  }
}
    .customers-item {
        width: calc( (100% - 120px) / 6);
        
         
    }
    .about {
        padding-top: 120px;
    }
    .about-list {
        display: flex;
      column-gap: 24px;
      flex-wrap: nowrap;
    }
    .about-item {
        list-style: none;
      width: calc(((100% - 72px) / 4));
      margin-right: 24;
      margin-bottom: 0px;
    }
    
.about-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 264px;
    }
    .about-after-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--second-title-color);
    
    }
    
    .people-item {
        width: calc((100% - 90px) / 4);
    }
    .people {
        padding-bottom: 120px;
        box-sizing: border-box;
        padding-top: 120px;
    }
    .menu-open {
        display: none;
    }
    
}