@media screen and (min-width: 480px) {
    .container {
        width: 100%;
    }
    .mobile {
      display: none;
    }
    .feature-link {
      display: none;
    }
    .about {
      width: 100%;
    }
    .about-list {
      
      
    }
    .input-text {
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8E8F99;
  display: inline-block;
  margin-bottom: 4px;
  
  }
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
background-color: transparent;
outline: transparent;
padding-left: 38px;

}
.input-icon {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  margin-left: 14px;
  
}
    
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 408px;
  /* height: 576px; */
  background-color: #FCFCFC;
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1) ;
  transition: transform 250ms linear;
  padding: 72px 24px 24px 24px;

  }
    .mob-email {
      margin-top: auto;
  }
    .text {
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
      background: #FFFFFF;
  }
    .text {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
  
  }
    .logo-wrap {
      margin-bottom: 72px;
    }

    .about-item {
      margin-bottom: 72px;
      width: 100%;
    }
    .logo-end {
      text-align: center;
    }
    .about-first,
    .about-second,
    .about-third {
       margin-bottom: 72px;
       width: 100%;
    }
    .about-title {
      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;

    }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 408px;
  /* height: 576px; */
  background-color: #FCFCFC;
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1) ;
  transition: transform 250ms linear;
  padding: 72px 24px 24px 24px;
  }
  .modal-input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
background-color: transparent;
outline: transparent;
padding-left: 38px;;
}
.modal-comment {
  width: 360px;
height: 120px;
padding-left: 38px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
background-color: transparent;
margin-bottom: 8px;
padding: 10px;
resize: none;

}
    .about-after-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #434455;
    }
    .hero-title {
      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* WHITE */

color: #FFFFFF;

    }
    
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:var(--bg-gradient), 
          url(../img/hero-bg-mob-2x.jpg);
    }
  }
 
  
}

  
