@media screen and (min-width: 480px) {
    .container {
        width: 100%;
    }
    .mobile {
      display: none;
    }
    .feature-link {
      display: none;
    }
    .about {
      width: 100%;
    }
    .about-list {
      
      
    }
    .mob-email {
      margin-top: auto;
  }
    .text {
      padding-top: 32px;
      padding-bottom: 32px;
      text-align: center;
      background: #FFFFFF;
  }
    .text {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
  
  }
    .logo-wrap {
      margin-bottom: 72px;
    }

    .about-item {
      margin-bottom: 72px;
      width: 100%;
    }
    .logo-end {
      text-align: center;
    }
    .about-first,
    .about-second,
    .about-third {
       margin-bottom: 72px;
       width: 100%;
    }
    .about-title {
      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;

    }
    .about-after-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #434455;
    }
    .hero-title {
      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* WHITE */

color: #FFFFFF;

    }
    
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:var(--bg-gradient), 
          url(../img/hero-bg-mob-2x.jpg);
    }
  }
 
  
}