:root {
  --first-title-color:  #FFFFFF;
  --second-title-color:  #434455;  
  --third-title-color: #2E2F42;
  --fourth-title-color:#4D5AE5;
  --fifth-title-color:#404BBF;
  --sixth-title-color: #F4F4FD;
}

body {
  color: #2E2F42;
}

p {
  color: #434455;  
}

a {
  color: #434455;
}

.list {
  list-style: none;
  font-family: 'Roboto';
}

.link {
    text-decoration: none;
}

.site-body {
}

/*-------- HEADER----------*/
.header {
}
.header-navigation {
}
.logo {
    text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.accent {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}


.header-list {
}
.header-item {
}
.header-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #2E2F42;
}
.header-link:hover {
   color: #4D5AE5;

}

.header-link:focus {
    color: #4D5AE5;
}

.header-tell {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,5px;
letter-spacing: 0.02em;
color:#2E2F42;
cursor: pointer;
background-color: #FFFFFF;
}

.press {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}

.press:hover,
.press:focus {
    background:  #404BBF;

}


/*-------- HERO----------*/


.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--first-title-color);
}
.header-btn {
}
.hero-after-title {
}


/*-------- ABOUT----------*/

.about {
}
.about-list {
    list-style: none;
}
.about-item {
}
.about-title {
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--third-title-color);
}
.about-after-title {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--second-title-color);
}

/*-------- MOBILE----------*/

.mobile {
}
.mobile-title {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--third-title-color);
}
.mobile-list {
    list-style: none
}
.mobile-item {
}

/*-------- PEOPLE----------*/

.people {
    background-color:  #F4F4FD;
}
.people-title {
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color:var(--third-title-color);

}
.people-list {
   
}
.list {
    
}
.people-item {
 color:    #FFFFFF;
}
.people-after-title {
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:var(--third-title-color);
}
.people-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: var(--second-title-color);
}

.end {
    background: #2E2F42;
}
.end {
}
.logo-end {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.1;
letter-spacing: 0.03em;
color: #4D5AE5;
}


.logo-footer {
    color: #F4F4FD;
}


.end-text {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}


/*-------- PORTFOLIO----------*/


.btn {
    background: #F4F4FD;
}
.value {
    list-style: none;
}

.btn:hover,
.btn:focus {
    background:  #404BBF;
    color: #FFFFFF

}
    .btn {
        font-family: ‘Roboto’, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:#4D5AE5;
    cursor: pointer;
    background-color: #F4F4FD;
}

.mobile-list {
    list-style: none
}
.mobile-item {
    list-style: none;
}

.mobile-after-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.people-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}