@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header-list {
        gap: 40px;
        
      }
      .menu-open-icon {
        display: none;
      }
      
      .header-mobile {
        display: flex;
        flex-direction: column;
        margin-left: auto;

      }
      .hero {
        width: 100%;
      }
      .container-costumers {
        max-width: 582px;
      }
      .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
    height: 576px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleX(1) ;
    transition: transform 250ms linear;
    padding: 72px 24px 24px 24px;
    }
    .modal-comment {
        width: 360px;
    height: 120px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    margin-bottom: 8px;
    padding: 10px;
    resize: none;
    
    }
    .modal-input {
        width: 360px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    }
      
    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 76px;
    }
    .header-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;    
    display: flex;
    align-items: center;
    transition: color 250ms linear;
    position: relative;
    
    }
    .header-link:hover,
.header-link:focus,
.header-link.current {
    color:  #4D5AE5;
}
.header-link:hover {
   color: #4D5AE5;

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
height: 576px;
background-color: #FCFCFC;
border-radius: 4px;
transform: translate(-50%, -50%) scaleX(1) ;
transition: transform 250ms linear;
padding: 72px 24px 24px 24px;
}
.about {
    padding-top: 96px;
    padding-bottom: 96px;
    

   
}
.text {
        
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


}

.header-link:focus {
    color: #4D5AE5;
}
    .hero {
        max-width: 1440px;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:var(--bg-gradient), 
    url(../img/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    
}
.hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

/* WHITE */

color: #FFFFFF;

}
.mobile {
    display: none;
}

.feature-link {
    display: none;
  }
  .about {
    width: 100%;
  }
  .about-list {
    flex-wrap: wrap;
    display: flex; 
    flex-direction: row;
     flex-wrap: wrap;
      row-gap: 72px;
     column-gap: 24px; 
  }
  .about-item {
    list-style: none;
      width: calc((100% - 24px) / 2);
      margin-bottom: 0;
  }
  .about-first,
    .about-second,
    .about-third {
        list-style: none;
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }
  .about-title {
    text-align: left;
  }
  .about-title {
    text-align: left;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.end {
    width: 100%;
}
.footer-container {
    gap: 24px;
      justify-content: flex-start;
      padding-left: 108px;
}
.logo-footer {
    text-align: left;
}
.media-title {
    text-align: left;
}
.input-footer {
    display: flex;
      flex-wrap: nowrap;
      gap: 24px;
}
.logo-end {
    text-align: left;
}
.modal-footer {
    width: 264px;
}
.footer-text {
    text-align: left;
}
.end {

    padding-top: 96px;
    padding-bottom: 96px;
    
}
.header-item {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
color: #434455;

}
.media-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}
.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.end-text {
    text-align: left;
}
.about-after-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

  
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero {
  background-image:var(--bg-gradient), 
      url(../img/hero-bg-tab-2x.jpg);
}
}
    .customers-item {
        width: calc( (100% - 50px) / 3 );
        
         
    }
    .people {
        
        box-sizing: border-box;
        
    }

    .people-item {
        /* width: calc((100% - 30px) / 2); */
    }
    
}