@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .header-list {
        gap: 40px;
        
      }
      .menu-open-icon {
        display: none;
      }
      
      .header-mobile {
        margin-left: 121px;
      }
      .hero {
        width: 100%;
      }
      
    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 76px;
    }
    .header-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;    
    display: flex;
    align-items: center;
    transition: color 250ms linear;
    position: relative;
    
    }
    .header-link:hover,
.header-link:focus,
.header-link.current {
    color:  #4D5AE5;
}
.header-link:hover {
   color: #4D5AE5;

}

.header-link:focus {
    color: #4D5AE5;
}
    .hero {
    background-color: #2E2F42;
    padding-top: 188px;
    width: 1440px;
    padding-bottom: 188px;
    background-image:var(--bg-gradient), 
    url(../img/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero {
  background-image:var(--bg-gradient), 
      url(../img/hero-bg-tab-2x.jpg);
}
}
    .customers-item {
        width: calc( (100% - 60px) / 3 );
        
         
    }
    .people {
        padding-bottom: 208px;
        box-sizing: border-box;
        padding-top: 208px;
        
    }

    .people-item {
        /* width: calc((100% - 30px) / 2); */
    }
    
}